:root {
  --body-color: #23252c;
  --bg-color: #1a1b21;
  --text-color: #ffffff;
  --pos-color: #f3bf99;
  --social-color: #918e9b;
  --p-color: #dcdcdc;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--body-color);
}

.App {
  margin: 2em auto;
  max-width: 317px;
  background-color: var(--bg-color);
  border-radius: 10px 10px;
}

.info--container {
  color: var(--text-color);
  text-align: center;
}

.info--name {
  object-fit: cover;
  margin: 6px;
}

.info--position {
  color: var(--pos-color);
  font-size: 16px;
  margin: 0 0 8px 0;
}

.info--web {
  display: block;
  margin: 0;
  font-size: 14px;
  padding-bottom: 1em;
}

.info--contact {
  display: flex;
  justify-content: space-between;
  margin: 0 2.18em;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 9px 13px 9px 11px;
  width: 115px;
  height: 34px;
  left: 151px;
  top: 468px;
  border: none;
}

.btn > img {
  margin-right: 0.5em;
}

.email,
.linkedin {
  font-weight: 500;
  font-size: 14px;
}

.email {
  background: var(--text-color);
  border: 1px solid #d1d5db;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.linkedin {
  background: #5093e2;
  color: var(--text-color);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

/* Interests component */
.content--container {
  margin: 0 2.18em;
  color: var(--text-color);
}

.content--container > p {
  font-weight: 400;
  color: var(--p-color);
  font-size: 14px;
  line-height: 150%;
}

.content--head {
  font-weight: 700;
  margin-bottom: 5px;
}

/* Footer component */
.footer--container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 64px;
  padding: 0 4em;
  margin-top: 1.5em;
  background: #161619;
  border-radius: 0px 0px 10px 10px;
}

.footer--container > img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
